In [90]:
import pandas as pd

In [91]:
file_path = "iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [92]:
new_iris_df=iris_df.drop(['class'],axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [93]:
news_iris_df=new_iris_df[['sepal_length', 'petal_length', 'sepal_width','petal_width']]
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [94]:
output_file_path='new_iris_data.csv'
new_iris_df.to_csv(output_file_path, index=False)

In [57]:
file_path='Resources/shopping_data.csv'
df_shopping=pd.read_csv(file_path, encoding='ISO-8859-1')
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [58]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [59]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [60]:
for column in df_shopping.columns:
        print(f'Column{column} has {df_shopping[column].isnull().sum()} null values')

ColumnCustomerID has 0 null values
ColumnCard Member has 2 null values
ColumnAge has 2 null values
ColumnAnnual Income has 0 null values
ColumnSpending Score (1-100) has 1 null values

In [61]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [62]:
#Find duplicate entries
print(f'Duplicate entries: {df_shopping.duplicated().sum()}')

Duplicate entries: 0

In [63]:
df_shopping.drop(columns=['CustomerID'], inplace=True)

In [64]:
#transform string column
def change_string(member):
    if member == 'Yes':
        return 1
    else:
        return 0

df_shopping['Card Member']=df_shopping['Card Member'].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [65]:
# Saving cleaned data
file_path = "shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [86]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [95]:
filepath = 'new_iris_data.csv'
df_iris=pd.read_csv(file_path)
df_iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [89]:
new_iris_df=new_iris_df.drop(['class'])
new_iris_df.head()

KeyError: "['class'] not found in axis"

In [68]:
#Initializing model with K=3 (since we already know there are three classes of iris plants)
model= KMeans(n_clusters=3, random_state=5)
model

KMeans(n_clusters=3, random_state=5)

In [69]:
# Fitting model
model.fit(df_iris)

KMeans(n_clusters=3, random_state=5)

In [70]:
# Get the predictions
predictions = model.predict(df_iris)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [31]:
#Add a new class column to df_iris
df_iris['class']= model.labels_
df_iris.head()

   Card Member   Age  Annual Income  Spending Score (1-100)  class
0            0  19.0          15000                    39.0      1
1            0  21.0          15000                    81.0      1
2            0  20.0          16000                     6.0      1
3            0  23.0          16000                    77.0      1
4            0  31.0          17000                    40.0      1

In [32]:
import plotly.express as px
import hvplot.pandas

In [33]:
# Create a scatterplot of df_iris
df_iris.hvplot.scatter(x="sepal_length", y="sepal_width", by="class")

DataError: Supplied data does not contain specified dimensions, the following dimensions were not found: ['sepal_length', 'sepal_width']

PandasInterface expects tabular data, for more information on supported datatypes see http://holoviews.org/user_guide/Tabular_Datasets.html